.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.youtube-logo {
    height: 20px;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
    justify-content: center;
}

.search-input {
    width: 45%;
    font-size: 1.4rem;
    padding: .6rem .4rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-btn {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #f0f0f0;
}

.title-icons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 2rem;
}

.menu-icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 2.5rem;
}

.menu-icons__Search {
    display: none;
}

.menu-channel-icon {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-icons__More {
    display: none;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 3;
        /* border-bottom: 1px solid var(--main-border); */
        padding: 1rem 1.25rem;
        box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    }
    .desktop-menu {
        display: none;
    }
    .youtube-logo {
        height: 18px;
    }
    .search-input,
    .search-btn {
        display: none;
    }
    .menu-icons {
        gap: 1.25rem;
        margin-right: 0;
    }
    .menu-icons a>img {
        width: 22px;
        height: 22px;
    }
    .menu-icons a>img.menu-channel-icon {
        width: 26px;
        height: 26px;
    }
    .menu-icons__Search {
        display: block;
    }
    .menu-icons__More {
        display: block;
    }
    .menu-icons__Notifications {
        display: none;
    }
    .menu-icons__Upload {
        display: none;
    }
}