.videos {
    background-color: #f9f9f9;
}

.video-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--ytd-grid-item-min-width), 1fr));
    gap: 3rem 1.5rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid var(--main-border);
}

.video-section:first-child {
    border-top: none;
}

.video-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.thumbnail {
    position: relative; 
    display: flex;
    overflow: hidden;
    width: 100%;
}

.thumbnail::before {
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    right: 0px;
    bottom: 0px;
    padding: 3px 4px;
    border-radius: 2px;
    margin: 4px;
    font-size: 1.2rem;
}

.thumbnail-image {
    width: 100%;
    height: 100%;

    min-width: var(--ytd-grid-thumbnail-min-width);
    min-height: var(--ytd-grid-thumbnail-min-height);

    background-color: rgba(0, 0, 0, 0.2);
}

.video-botton-section {
    display: flex;
    align-items: flex-start;
}

.channel-icon {
    margin: 12px 12px 0px 0px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.video-details {
    display: flex;
    flex-direction: column;
}

.video-title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    max-height: 4.4rem;
    color: var(--yt-video-title-text-color);
    text-overflow: ellipsis;
    padding-right: 24px;
    margin: 12px 0px 4px 0px;
}

.video-channel-name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: #606060;
}

.video-channel-name:hover {
    color: #030303;
}

.video-metadata {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: #606060;
}

.video-section-title {
    grid-column: 1 / -1;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.video-section-title-close {
    border: none;
    background: none;
    padding: 0;
    font-size: 2rem;
    color: #555;
}

@media screen and (min-width: 700px) {
    .thumbnail-image {
        max-height: var(--ytd-grid-thumbnail-max-height);
    }
}